.scoss-spp-section {
    margin-bottom: 50px;
}

.edges-loading_io-renderer-bar {
    width: 100% !important;
    height: 100% !important;
}

.ldBar-label {
    font-size: 2em;
}

.edges-loading_io-renderer-xofy {
    font-size: 1.3em;
}

.scoss-spp-continent {
    height: 600px;
}