/**
 * CSS for SCOSS data visualisation
 */

/* custom CSS for third party dependencies */

.ldBar-label {
    font-size: 2em;
}

/* css for SCOSS page template */
.scoss-spp-section {
    margin-bottom: 50px;
}

.scoss-spp-continent {
    height: 600px;
}

/* overrides and extensions to edges css for custom layouts */

.edges-loading_io-renderer-bar {
    width: 100% !important;
    height: 100% !important;
}

.edges-loading_io-renderer-xofy {
    font-size: 1.3em;
}

.edges-bs3-tabular-results-table {
    width: 100%;
    margin-top: 20px;
}

.edges-bs3-tabular-results-table thead {
    background: #cccccc;
}

.edges-bs3-tabular-results-table tbody tr {
    border-bottom: 1px solid #cccccc;
}

.edges-bs3-tabular-results-cell-committed {
    text-align: right;
}

.edges-bs3-tabular-results-header-Committed {
    text-align: right;
}